.is_loading {
    display: flex;
    align-items: center;
   width: 100%;
   max-width: 14em;
   gap: 3em;
   padding: 1em;
   height: 20vh;
   margin-top: 2em;
}


.is_loading h1 {
    color: var(--text-color-black);
    transform: scale(0);
}

.is_loading img {
    width: 100%;

    animation: loading__move 2s infinite;
}

@keyframes loading_move {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.is__loading h1 {
    font-size: 2.5rem;
}