@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
:root {
    --color1: red;
    --color2: white;
    --color3: black;
    --color4: rgba(31, 234, 214, 0.203);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}